:root {
    --color_white: #fff;
    --main_color_primary: #0078ff;
    --back_black: #000;
    --opacity_overlay: rgba(0, 0, 0, 0.6);
    --margin_section: 4rem;
    --paddingY_section: 4rem;
    --padding_section: 3rem;
    --margin_bottom: 2rem;
    --opacity: 0.7;
}

body {
    background-color: #f5f5f5;
    line-height: var(--bs-body-line-height) !important;
}


/***************Start public Class***********************/

h1 {
    font-size: 3.1rem;
    font-weight: 600;
}

a {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
}

label {
    font-size: 1.1rem;
}

.shadow {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.section_header {
    margin-bottom: 2rem;
}

.border_header,
.section_border {
    position: relative;
    padding: 0px 0px 12px 0px;
    margin-bottom: 3rem;
}

.border_header::after,
.section_border::after {
    content: "";
    position: absolute;
    background-color: var(--main_color_primary);
}

.border_header::after {
    width: 24%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.section_border::after {
    width: 6%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}

.counter_section::before,
.overlay_bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0078ff;
    opacity: 0.7;
    z-index: -1;
}

.overlay_bg {
    z-index: 1;
    padding: 6rem 4rem 3rem;
    position: relative;
}

.overlay_img {
    background-image: url(../Images/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}


/***************Start Main_headder**********************/

.main_header .navbar {
    color: var(--color_white);
    background-color: var(--back_black);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: var(--color_white);
    border-bottom: 0px solid #fff;
    transition: 5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color_white);
    border-width: 2px;
}

.navbar-light .navbar-brand {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav li {
    padding: 10px;
}

.dropdown_menu,
.Sub_dropdown {
    display: block;
    position: absolute;
    padding: 10px 0;
    opacity: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background: #fff;
    visibility: hidden;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: 0.3s;
}

.dropdown_menu {
    top: calc(100% - 1px);
    z-index: 99;
}

.Sub_dropdown {
    left: -84%;
    z-index: 1000;
}

.dropdown:hover .dropdown_menu,
.subdropdown:hover .Sub_dropdown {
    opacity: 1;
    visibility: inherit;
}

.dropdown-item:hover {
    background-color: #fff;
    color: var(--main_color_primary);
}

.navbar-toggler {
    background-color: var(--color_white);
}

/****************Start section_slider************/

.section_slider {
    background-image: url(../Images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    color: var(--color_white);
    position: relative;
}


.section_slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--opacity_overlay);
    opacity: 0.5;
}

.section_slider .slider_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    text-align: center;
}

.section_slider .slider_text .bottom_content {
    position: relative;
}

.section_slider .slider_text .animate_header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%)
}

.section_slider .slider_text .type_animation {
    box-shadow: .1em 0 0 #fff;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
}

.section_slider .slider_text p.type_animation::before {
    content: "";
    animation: animate 10s infinite;
    -webkit-animation: animate 10s infinite;
}

.section_slider .slider_text p.type_animation {
    visibility: hidden;
    width: 12ch;
    animation: cursor .3s step-end infinite alternate,
        type 2s steps(10, end) infinite alternate;
    animation-fill-mode: forwards;
}


@keyframes type {
    0% {
        width: 0;
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}

@keyframes cursor {
    50% {
        box-shadow: .1em 0 0 transparent;
    }
}

@keyframes animate {
    0% {
        content: "photographer";
    }

    50% {
        content: "Freelancer";
    }

}



   /* About */
   .about{
    color: #4e4e4e;
  }
.about .container{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.bg-gray{
    background-color: rgb(245,245,245);
}
.about-left p{
    font-size: 1.1rem;
    font-weight: 600;
    color: #1e1e1e;
    
}
.about-left span{
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.5; */
}
.about-right h5{
    position: relative;
    font-size: 2rem;
    color: #1e1e1e;
    /* margin-bottom: .5rem; */
    font-weight: 500;
    /* line-height: 1.2; */
}
.about-right h5::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
    left: 0;
}


  /* Services */
.services{
    
    color: #4e4e4e;
}
.services h3{
    font-size: 3rem;
    font-weight: bold;
    color: #1e1e1e;
    line-height: 1.2;
}
.services p{
   
    margin-bottom: 1rem;
}
.services .card{
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}
.services i{
    height: 6rem;
    width: 6rem;
    font-size: 4rem;
    
    border-radius: 50%;
 
    margin: 0 auto;
   
    box-shadow: 0 0 0 10px #0078ff;
    color: #1e1e1e;
    transition: all 500ms ease;
    
}
.services i:hover{
    box-shadow: 0 0 0 10px rgba(0, 119, 255, 0.233);
    color: white;
    background-color: #0078ff;

}
.services h2{
    font-size: 1.4rem;
    font-weight: 500;
    padding: .25rem 0;
}
.services .card-title{
    color: #1e1e1e;
}
 /* Couter */
 .counter{
    background-image: url(../images/counters-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    padding: 8rem 0;
}
.counter-overlay{
    background-color: #0078ff;
    opacity: .7;
}
.counter i{
    font-size: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    color: #cde1f8;
    line-height: 3.5rem;
    box-shadow: 0 0 0 12px #cde1f8;
}
  /* Work */

.work h3{
    font-size: 3rem;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: 0.5rem;
}
.work p{
    margin-bottom: 1rem;
    color: #4e4e4e
}
.work .line{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.work h2{
    font-size: 1.2rem;
    color: #1e1e1e;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.work .card-detail{
    color: #4e4e4e;
    font-size: 0.8rem;
}
.work .card-span{
    color: #0078ff;
}
.work .card{
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}
.work i{
    color: #007aff;
    font-size: 2.5rem;
}
.work .card-body{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.work .card:hover img{
    transform: scale(1.2);
}
.work img{
    transition: .5s 0s all ease-in-out;
}
/* Blog */
.profile{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.profile .profile-overlay{
    height: 100%;
    background-color: rgba(0, 119, 255, 0.7);
    padding: 8rem;
}
.profile img{
    width: 15%;
}
.profile h5{
    font-weight: 600;
    margin: 1rem 0;
    font-size: 1.4rem;
}
.profile p{
    padding: 0 8rem;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.profile .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: auto;
}
.profile .icon i{
    color: rgb(0,120,255);
}
/* Blog */
.blog .blog-header{
    font-size: 3rem;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: 0.5rem;
}
.blog p{
    color: #4e4e4e;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.blog h6{
    color: #fff;
    padding: .5rem 1rem;
    background-color: #0078ff;
    border-radius: 4px;
    font-size: 0.7rem;
    font-weight: 500;
}
.blog .line{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.blog .card-body a{
    text-decoration: none;
    font-size: 1.3rem;
    /* margin-top: 0.6rem; */
    /* margin-bottom: 0.75rem; */
    color: #1e1e1e;
    font-weight: 500;
    /* word-wrap: break-word; */
    transition: all 0.5s ease-in-out;
}
.blog .card-body a:hover{
    color: #007bff;
}
.blog .card-footer a img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: .25rem;
}
.blog .card-footer span{
    color: #1e1e1e
}
.blog .time{
    color: #4e4e4e;
    margin: .25rem;   
}
.blog .time i{
    color:rgb(202,202,202);
}
.blog .avatar span{
    transition: all 0.5s ease-in-out;
}
.blog .avatar:hover span{
    color: #007bff;
}
/* Contact */
.contact{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.contact .contact-overlay{
    background-color: rgba(0, 119, 255, 0.7);
    padding: 5rem 0 3rem;
}
.contact .container{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.contact .contact-left h5 , .contact .contact-right h5 {
    position: relative;
    font-size: 2rem;
    color: #1e1e1e;
    margin-bottom: 3rem;
    font-weight: 500;
}
.contact .contact-left h5::before , .contact .contact-right h5::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
.contact .contact-left button{
    margin: auto;
    border-radius: 5rem;
    padding: 0.9rem 2.3rem;
    font-size: 1.2rem;
    background-color: #0078ff;
    color: #fff;
    transition: all 500ms ease;
    border: none;
    margin-bottom: 2rem;
}
.contact .contact-left button:hover{
    background-color: #106cd6;
    box-shadow: 0 0 0 3px #0077ff54;
}
.contact .contact-right ul{
    list-style: none;
}
.contact .contact-right .social div{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
}
.contact .contact-right .social div:hover{
    background-color: #0078ff;
    box-shadow: 0 0 0 3px #0077ff44;
}
.contact .contact-right .social div i{
    color: #1e1e1e;
    font-size: 1.5rem;
    transition: all 500ms ease;
}
.contact .contact-right .social div:hover i{
    color: white;
}
.contact input , .contact textarea{
    padding: 0.375rem 0.75rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contact textarea{
    height: 8rem;
}
.contact input:hover , .contact textarea:hover{
    border-color: #007bff;   
}
/* Back to Top */
.back-to-top div{
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    z-index: 10;
    transition: all 0.4s;
    background-color: #0078ff;
    color: white;
}
.back-to-top:hover div{
    background-color: #317dd4;
}
.back-to-top{
    color: white;
}

