:root {
    --color_white: #fff;
    --main_color_primary: #0078ff;
    --back_black: #000;
    --opacity_overlay: rgba(0, 0, 0, 0.6);
    --margin_section: 4rem;
    --paddingY_section: 4rem;
    --padding_section: 3rem;
    --margin_bottom: 2rem;
    --opacity: 0.7;
}

body {
    background-color: #f5f5f5;
    line-height: var(--bs-body-line-height) !important;
}


/***************Start public Class***********************/

h1 {
    font-size: 3.1rem;
    font-weight: 600;
}

a {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
}

label {
    font-size: 1.1rem;
}

.shadow {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.section_header {
    margin-bottom: 2rem;
}

.border_header,
.section_border {
    position: relative;
    padding: 0px 0px 12px 0px;
    margin-bottom: 3rem;
}

.border_header::after,
.section_border::after {
    content: "";
    position: absolute;
    background-color: var(--main_color_primary);
}

.border_header::after {
    width: 24%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.section_border::after {
    width: 6%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}

.counter_section::before,
.overlay_bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0078ff;
    opacity: 0.7;
    z-index: -1;
}

.overlay_bg {
    z-index: 1;
    padding: 6rem 4rem 3rem;
    position: relative;
}

.overlay_img {
    background-image: url(../Images/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}


/***************Start Main_headder**********************/

.main_header .navbar {
    color: var(--color_white);
    background-color: var(--back_black);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: var(--color_white);
    border-bottom: 0px solid #fff;
    transition: 5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color_white);
    border-width: 2px;
}

.navbar-light .navbar-brand {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav li {
    padding: 10px;
}

.dropdown_menu,
.Sub_dropdown {
    display: block;
    position: absolute;
    padding: 10px 0;
    opacity: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background: #fff;
    visibility: hidden;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: 0.3s;
}

.dropdown_menu {
    top: calc(100% - 1px);
    z-index: 99;
}

.Sub_dropdown {
    left: -84%;
    z-index: 1000;
}

.dropdown:hover .dropdown_menu,
.subdropdown:hover .Sub_dropdown {
    opacity: 1;
    visibility: inherit;
}

.dropdown-item:hover {
    background-color: #fff;
    color: var(--main_color_primary);
}

.navbar-toggler {
    background-color: var(--color_white);
}

/****************Start section_slider************/

.section_slider {
    background-image: url(../Images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    color: var(--color_white);
    position: relative;
}


.section_slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--opacity_overlay);
    opacity: 0.5;
}

.section_slider .slider_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    text-align: center;
}

.section_slider .slider_text .bottom_content {
    position: relative;
}

.section_slider .slider_text .animate_header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%)
}

.section_slider .slider_text .type_animation {
    box-shadow: .1em 0 0 #fff;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
}

.section_slider .slider_text p.type_animation::before {
    content: "";
    animation: animate 10s infinite;
    -webkit-animation: animate 10s infinite;
}

.section_slider .slider_text p.type_animation {
    visibility: hidden;
    width: 12ch;
    animation: cursor .3s step-end infinite alternate,
        type 2s steps(10, end) infinite alternate;
    animation-fill-mode: forwards;
}


@keyframes type {
    0% {
        width: 0;
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}

@keyframes cursor {
    50% {
        box-shadow: .1em 0 0 transparent;
    }
}

@keyframes animate {
    0% {
        content: "photographer";
    }

    50% {
        content: "Freelancer";
    }

}



   /* About */
   .about{
    color: #4e4e4e;
  }
.about .container{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.bg-gray{
    background-color: rgb(245,245,245);
}
.about-left p{
    font-size: 1.1rem;
    font-weight: 600;
    color: #1e1e1e;
    
}
.about-left span{
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.5; */
}
.about-right h5{
    position: relative;
    font-size: 2rem;
    color: #1e1e1e;
    /* margin-bottom: .5rem; */
    font-weight: 500;
    /* line-height: 1.2; */
}
.about-right h5::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
    left: 0;
}


  /* Services */
.services{
    
    color: #4e4e4e;
}
.services h3{
    font-size: 3rem;
    font-weight: bold;
    color: #1e1e1e;
    line-height: 1.2;
}
.services p{
   
    margin-bottom: 1rem;
}
.services .card{
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}
.services i{
    height: 6rem;
    width: 6rem;
    font-size: 4rem;
    
    border-radius: 50%;
 
    margin: 0 auto;
   
    box-shadow: 0 0 0 10px #0078ff;
    color: #1e1e1e;
    transition: all 500ms ease;
    
}
.services i:hover{
    box-shadow: 0 0 0 10px rgba(0, 119, 255, 0.233);
    color: white;
    background-color: #0078ff;

}
.services h2{
    font-size: 1.4rem;
    font-weight: 500;
    padding: .25rem 0;
}
.services .card-title{
    color: #1e1e1e;
}